@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e11d74;
  --color-secondary: #1e293b;
  --color-accent: #f9a8d4;
  --color-background: #fff7fb;
  --color-text: #334155;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}
